.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table, td, th {
  border: 1px solid black;
}

.wrapPagination {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.itemPage {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  margin: 0px 5px;
  cursor: pointer;
}

.itemPage:hover {
  background-color: lightslategray;
  transition: background-color 1s ease;
}

.selectedItemPage {
  background-color: black;
  color: white;
}